.contact_page, .contact_page-masthead, .contact_page-masthead-text{
    width:100%;
    height: 60vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:20px
}